html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-style: normal;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.72;
    padding: 15px 40px;
    text-decoration: none;
    border: none;
    border-radius: 0;
}

.primary-btn{
    background-color: #1D53D4;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #1C2025;
    color: #C0C2C4;
}

.secondary-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.secondary-btn:hover{
    background-color: #1C2025;
    color: #C0C2C4;
    border: 1px solid #1C2025;
}

.third-btn{
    background-color: #FFFFFF; 
    color: #1D53D4;
}

.third-btn:hover{
    background-color: #1C2025;
    color: #C0C2C4;
}

.fourth-btn{
    background-color: transparent;
    color: #1D53D4;
    border-bottom: 2px solid #1D53D4;
    padding: 0px;
}

.fourth-btn:hover{
    background-color: transparent;
    color: #1C2025;
    border-bottom: 2px solid #1C2025;
    padding: 0px;
}


/* navbar */
.navbar{
    padding: 5px 0px;
    background: transparent;
    border-bottom: 1px solid #9A9D9E;
    margin-bottom: -105px;    
}

.navbar .nav-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transform: translateX(-250px);
}

.navbar .nav-item a:hover{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.navbar h6{
    font-size: 16px;
    font-weight: 400;
    color: #B1B4B5;
}

.navbar .nav-contact .nav-call-us a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.navbar .nav-contact .nav-call-us{
    transform: translateY(-20px);
}

.navbar .nav-contact .nav-call-icon img{
    transform: translateY(25px);
    margin-left: -50px;
}
/* navbar */


/* home */
#home{
    padding-top: 262px;
    padding-bottom: 275px;
    background: url(../images/header-bg-img.jpg) no-repeat center;
    background-position: cover;
}

#home h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 1.15;
    color: #FFFFFF;
    margin-bottom: 35px;
}

#home p{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.47;
    color: #EBEDEE;
    margin-bottom: 70px;
    max-width: 75%;
}

#home .home-buttons span img{
    transform: translateY(-2px);
}
/* home */


/* value */
#value{
    background-color: transparent;
    transform: translateY(0px);
}

#value .value-body{
    padding: 25px 40px 25px 25px;
    background: #FFFFFF;
}

#value h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.41;
    color: #1C2025;
    margin-left: 30px;
}
/* value */


/* stakes */
#stakes{
    padding: 120px 0px;
}

#stakes img{
    width: 100%;
}

#stakes h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#stakes h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 20px;
}

#stakes p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #1C2025;
    max-width: 98%;
}

#stakes .stakes-text{
    margin-bottom: 60px;
}
/* stakes */


/* services */
#services{
    padding: 120px 0px;
    background-color: #F0F2F3;
    background-position: cover;
}

#services .services-body{
    margin-bottom: 60px;
}

#services h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#services .services-card{
    max-width: 440px;
    border: 1px solid #DADCDD;
    border-radius: 0px;
    margin: auto;
    background-color: #F0F2F3;
    background-position: cover;
}

#services .services-card:hover{
    max-width: 440px;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    margin: auto;
    background-color: #FFFFFF;
    background-position: cover;
    cursor: pointer;
}

#services .services-card h5{
  color: #1C2025;
}

#services .services-card:hover h5{
    color: #1D53D4;
}

#services .services-card-image img{
    width: 100%;
    object-fit: cover;
}

#services .services-card-icon img{
    float: right;
    transform: translateY(-40px);
    margin-right: 20px;
}

#services h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 20px;
}

#services h5,
#services p,
#services .services-card-button a{
    margin-left: 35px;
    margin-right: 35px;
}

#services h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.41;
    color: #1C2025;
    border-bottom: 1px solid #DADCDD;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#services p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #1C2025;
    margin-bottom: 25px;
}

#services .services-card-button a{
    margin-bottom: 55px;
}
/* services */


/* cta  */
#cta{
    padding: 120px 0px;
    background: url(../images/cta-bg-img.jpg) no-repeat center;
    background-position: cover;
}

#cta h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #BDCBEE;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#cta h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#cta p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
    color: #FFFFFF;
    max-width: 55%;
    margin: auto;
    margin-bottom: 50px;
}
/* cta  */


/* work */
#work{
    padding: 120px 0px;
}

#work h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#work h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 20px;
}

#work .work-text p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
    color: #1C2025;
    max-width: 50%;
    margin: auto;
    margin-bottom: 70px;
}

#work .work-card-icon{
    margin-bottom: 20px;
}

#work h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.41;
    color: #1C2025;
    margin-bottom: 20px;
    transform: translateY(-75px);
}

#work .work-card-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #1C2025;
    max-width: 65%;
    margin: auto;
    transform: translateY(-60px);
    margin-bottom: 20px;
}

#work .work-card p{
    color: #1C2025;
}

#work .work-card:hover p{
    color: #C0C2C4;
}
/* work */


/* gallery */
#gallery{
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: #F0F2F3;
    background-position: cover;
}

#gallery h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#gallery h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 20px;
}

#gallery .gallery-body{
    margin-bottom: 60px;
}

#gallery h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.93;
    color: #CDCED0;
    margin-left: 45px;
    transform: translateY(-100px);
}

#gallery h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.41;
    color: #FFFFFF;
    margin-bottom: px;
    margin-left: 45px;
    transform: translateY(-110px);
}

#gallery .gallery-images{
    position: relative;
    overflow: hidden;
}

#gallery .overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    background: rgba(28, 32, 37, 0.5);
}

#gallery .gallery-images:hover .overlay{
    opacity: 0.5;
}
/* gallery */


/* testimonial */
#testimonial{
    padding: 120px 0px;
    background: url(../images/testimonial-bg-image.jpg) no-repeat center;
    background-position: cover;
}

#testimonial .testimonial-body{
    padding: 76px;
    background-color: #FFFFFF;
    background-position: cover;
}

#testimonial .testimonial-quote-icon{
    margin-bottom: 50px;
    margin-top: -104px;
    transform: translateX(-60px);
}

#testimonial h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#testimonial h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 40px;
}

#testimonial .testimonial-stars{
    margin-bottom: 25px;
}

#testimonial p{
    font-size: 21px;
    font-weight: 400;
    line-height: 1.47;
    color: #5F6265;
    margin-bottom: 30px;
    max-width: 90%;
}

#testimonial h3{
    font-size: 21px;
    font-weight: 600;
    line-height: 1.23;
    color: #1C2025;
    margin-bottom: 0px;
}

#testimonial h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #5F6265;
    letter-spacing: 0.32px;
    margin-bottom: 40px;
}
/* testimonial */


/* about */
#about{
    padding-top: 120px;
    padding-bottom: 140px;
}

#about .about-small-image{
    margin-top: -185px;
    transform: translateX(432px);
}

#about h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.6px;
    color: #1D53D4;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#about h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #1C2025;
    margin-bottom: 20px;
}

#about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #1C2025;
    margin-bottom: 40px;
}

#about .about-points{
    margin-bottom: 50px;
}
/* about */


/* subscribe */
#subscribe{
    padding: 120px;
    background: #1D53D4;
    background-position: cover;
}

#subscribe h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#subscribe p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: #DBE4F8;
    margin-bottom: 60px;
    max-width: 80%;
}
/* subscribe */