html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-style: normal;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.72;
    padding: 18px 40px;
    text-decoration: none;
    border: 0;
}

.primary-btn{
    background-color: #1D53D4;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #FFFFFF;
    color: #1D53D4;
}

.secondary-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF  ;
}

.secondary-btn:hover{
    background-color: #FFFFFF;
    color: #1D53D4;
}

.third-btn{
    background-color: #FFFFFF; 
    color: #1D53D4;
}

.third-btn:hover{
    background-color: #F0F2F3;
    color: #1D53D4;
}


/* navbar */
.navbar{
    padding: 5px 0px;
    background: #1D53D4;
    border-bottom: 2px solid #9A9D9E;    
}

.navbar .nav-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transform: translateX(-250px);
}

.navbar .nav-item a:hover{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.navbar h6{
    font-size: 16px;
    font-weight: 400;
    color: #B1B4B5;
}

.navbar .nav-contact .nav-call-us a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.navbar .nav-contact .nav-call-us{
    transform: translateY(-20px);
}

.navbar .nav-contact .nav-call-icon img{
    transform: translateY(25px);
    margin-left: -50px;
}
/* navbar */